@import "variables.scss";

.container {
  padding: $padding-phone;
  aside {
    display: none;
  }
  main {
    padding: $padding-phone;
    ::-webkit-scrollbar {
      display: none;
    }
    ::-webkit-scrollbar-track {
      display: none;
    }
    ::-webkit-scrollbar-thumb {
      display: none;
    }
    .loader {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
    }
    .categories {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      overflow-x: scroll;
      a {
        margin-right: 2rem;
        font-size: 1.1rem;
        font-weight: 300;
        text-decoration: none;
        color: black;
        padding: 0.5rem 0.6rem;
        border-radius: 900rem;

        &:hover {
          background-color: rgb(194, 194, 194);
        }
      }
    }
    .listings {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      grid-column-gap: 0.5rem;
      justify-items: stretch;
      align-items: stretch;

      .errorState {
        color: $error_color;
        font-weight: 500;
        font-size: 1.3rem;
        span {
          color: initial;
        }
      }
      .item {
        margin-bottom: 2rem;
        img {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          border-radius: 0.8rem;
          cursor: pointer;
        }

        .details {
          margin-top: 1rem;
          .profilePic {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
          }
          h4 {
            font-size: 1.3rem;
            margin: 0.6rem auto;
          }
          h3 {
            margin: 0.6rem auto;
            font-size: 1rem;
          }
          p {
            margin-top: 0.6rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    main {
      .listings {
        grid-column-gap: 1rem;
      }
    }
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: $max-container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    aside {
      display: block;
    }
  }
}
