@import "variables.scss";

.container {
  height: calc(100vh - 10.55rem);

  padding: $padding-phone;

  aside,
  .people {
    display: none;
  }
  .peoplePhone {
    margin-bottom: 1rem;
    .selectUser {
      display: flex;
      align-items: center;
      button {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
        margin-left: -0.7rem;
        border: none;
        border-radius: 99rem;
        aspect-ratio: 1;

        svg {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.2rem;
        margin: 0;
        margin-left: 2rem;
      }
    }
  }
  .lineBreak {
    height: 1px;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(206, 206, 206);
  }
  .mainChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 0.21rem;

    height: inherit;
    .messagesWrapper {
      overflow-y: scroll;
      padding: 1rem;
    }
    // ::-webkit-scrollbar {
    //   width: 0.4rem;
    //   background-color: rgb(255, 255, 255);
    // }
    // ::-webkit-scrollbar-track {
    //   width: 0.1rem;
    //   background-color: rgba(224, 10, 10, 0);
    // }
    // ::-webkit-scrollbar-thumb {
    //   width: 0.1rem;
    //   background-color: rgb(23, 23, 24);
    //   border-radius: 900rem;
    //   transition: background-color 5s ease;
    // }
    form {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: stretch;
      grid-column-gap: 0.5rem;
      input {
        font-family: "inter";
        padding: 0.6rem 1rem;
        outline: none;
        // border-radius: 0.6rem;
        outline: none;
        border: none;
        border-bottom: $primary-color 1px solid;
      }
      button {
        font-family: "inter";
        color: white;
        border: none;
        outline: none;
        background-color: $primary-color;
        cursor: pointer;
        border-radius: 0.31rem;
        padding: 0.3rem 1rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .container {
    height: calc(100vh - 6.75rem);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 20px;
    justify-content: stretch;
    align-items: stretch;
    .mainChat {
      background-color: #f7f7f7;
    }
    .lineBreak {
      display: none;
    }
    .people {
      display: block;
      height: 100%;
      overflow-y: scroll;
      a {
        text-decoration: none;
        color: inherit;
        .user {
          display: flex;
          margin-top: 1rem;
          align-items: center;
          padding: 1rem;
          transition: all 0.3s ease-in-out;

          h5 {
            text-transform: capitalize;
            font-size: 1.2rem;
            margin: 0;
            margin-bottom: 0.3rem;
          }
          p {
            margin: 0;
            font-weight: 300;
            font-size: 1rem;
          }
          img {
            margin-right: 1rem;
            height: 50px;
            width: 50px;
            min-width: 50px;
            min-height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
    .peoplePhone {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: $max-container-width;
    margin: 0 auto;

    grid-template-columns: 1fr 2.5fr 1fr;
    aside {
      display: block;
    }
  }
}

.selected {
  color: white;
  background-color: $primary-color;
  padding: 1rem 1rem;
  border-radius: 900rem;
  img {
    outline: white 2px solid;
  }
}

.connectedUser {
  position: relative;
  &::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 99rem;
    background-color: rgb(32, 226, 64);
    position: absolute;
    top: 0;
    left: -20px;
  }
}
