@import "variables.scss";

.container {
  padding: $padding-phone;
  aside {
    display: none;
  }
  main {
    .listings {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: $max-container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;

    grid-column-gap: 40px;

    aside {
      position: -webkit-sticky;
      position: sticky;
      top: 90px;
      height: fit-content;
      display: block;
    }
  }
}
