.container {
  .main {
    max-width: 1450px;

    section {
      ::-webkit-scrollbar {
        height: 10px;
      }
      ::-webkit-scrollbar-track {
        background-color: blue;
        height: inherit;
        border-radius: 90rem;
      }
      ::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 90rem;
        background-color: whitesmoke;
      }
      .categories {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        div {
          margin-right: 3rem;
          display: inline-block;
          text-align: center;
          img {
            height: 5rem;
          }
        }
      }
    }
    padding: 1rem;
    .sideBar {
      display: none;
    }
  }
}
// display: grid;
// grid-template-columns: auto 1fr;
// grid-template-rows: 2fr 100px;
// grid-column-gap: 40px;

// justify-items: stretch;
// align-items: stretch;

@media (min-width: 768px) {
  .container {
    .main {
      .hero {
        h1 {
          font-size: 40px;
          max-width: 500px;
          margin: 1.5rem auto;
        }
        p {
          margin: 1.5rem auto;
          max-width: 600px;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: auto 1fr;

    grid-column-gap: 40px;

    .main {
      .hero {
      }
    }
    .sideBar {
      position: -webkit-sticky;
      position: sticky;
      top: 90px;
      height: fit-content;
      display: block;
    }
  }
}
