@import "variables.scss";

.wrapper {
  position: absolute;
  right: 2rem;
  top: 3.9rem;
  z-index: 11;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 1px solid #cccccc;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.22));
  width: 350px;

  .lineBreak {
    height: 1px;
    width: 100%;
    background-color: #a5a5a5;
    margin: 1rem 0;
  }
  .header {
    padding: 1rem 0.9rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    svg {
      align-self: initial;
      padding: 0.3rem;
      border-radius: 50%;
      font-size: 1.5rem;
      cursor: pointer;
      display: inline-block;
      margin-left: 6rem;

      &:hover {
        background-color: rgb(219, 206, 188);
      }
    }
  }

  .notificationsWrapper {
    height: 500px;
    overflow-y: scroll;
    .loader {
      display: flex;
      height: 100%;
      justify-content: center;
      margin-bottom: 2rem;
    }
    div {
      padding: 0 1rem;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: flex-start;

        img {
          height: 3.5rem;
          width: 3.5rem;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid #5a5a5a;
          flex-shrink: 0;
        }

        .text {
          padding: 0.3rem 1rem;
          flex-grow: 1;
          h4 {
            font-weight: 500;
            text-transform: capitalize;
            margin: 0;
          }
          p {
            font-weight: 200;
            margin-top: 0.4rem;
            margin-bottom: 0;
          }
        }
        .actions {
          align-self: center;
          font-size: 1.3rem;
          cursor: pointer;
          width: fit-content;
          flex-shrink: 0;
          svg {
            padding: 0.3rem;
            border-radius: 50%;
            &:hover {
              background-color: rgb(219, 206, 188);
            }
          }
        }
      }
    }
  }
}
