@import "variables.scss";

.container {
  padding: $padding-phone;

  aside {
    display: none;
  }
  .profileWrapper {
    .userDesc {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-right: 1rem;
        height: 8rem;
        width: 8rem;
        border-radius: 90rem;
        border: 1px solid #5a5a5a;
      }
      .details {
        margin-top: 1rem;
        .header {
          h2 {
            text-align: center;
            font-size: 1.2rem;
            margin: 0;
            margin-right: 1rem;
            font-weight: 600;
          }
          button {
            display: none;
            margin-right: 1rem;
            cursor: pointer;
          }
        }
        .stats {
          display: flex;
          justify-content: center;
          p {
            margin-right: 1rem;
            font-weight: 400;
            font-size: 0.9rem;
          }
        }
        .about {
          text-align: center;

          margin-top: 0.6rem;
          color: rgb(37, 37, 37);
          font-size: 0.9rem;
          font-weight: 300;
          line-height: 20.55px;
        }
        .phoneActions {
          margin-top: 0.6rem;
          display: grid;
          grid-template-columns: 1fr 1fr auto;
          grid-column-gap: 0.2rem;

          button {
            background-color: inherit;
            border-radius: 0.2rem;
            outline: none;
            border: 1px solid rgb(175, 175, 175);
            font-family: "Inter";
            font-weight: 500;
            cursor: pointer;
            padding: 0.2rem;
          }
        }
      }
    }
    .divider {
      margin-top: 5rem;
      height: 1px;
      width: 80%;
      background-color: black;
    }
    .products {
      margin-top: 3rem;
      .listings {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        grid-column-gap: 0.5rem;
        justify-items: stretch;
        align-items: stretch;

        .item {
          img {
            width: 100%;
            height: 20rem;
            object-fit: cover;
            border-radius: 0.8rem;
          }

          .details {
            margin-top: 1rem;

            h4 {
              font-size: 1.3rem;
              margin: 0.6rem auto;
            }
            h3 {
              margin: 0.6rem auto;
              font-size: 1rem;
            }
            p {
              margin-top: 0.6rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    .profileWrapper {
      .userDesc {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        img {
          height: 8rem;
          margin-right: 1rem;
        }
        .details {
          .header {
            display: flex;
            h2 {
              text-align: left;
              font-size: 1.5rem;
              margin-right: auto;
            }
            button {
              display: block;
              background-color: inherit;
              border-radius: 0.2rem;
              outline: none;
              border: 1px solid rgb(175, 175, 175);
              font-family: "Inter";
              font-weight: 500;
              cursor: pointer;
              padding: 0.2rem 1rem;
            }
          }
          .stats {
            justify-content: left;
            font-size: 1.1rem;
          }
          .about {
            text-align: left;

            line-height: 26.55px;
            font-size: 1rem;
            max-width: 50rem;
          }
          .phoneActions {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: $max-container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
    aside {
      display: block;
    }
    .profileWrapper {
      margin-top: 2rem;
      .userDesc {
        img {
          height: 10rem;
          width: 10rem;
          margin-right: 2rem;
        }
        .details {
          .header {
            h2 {
              font-size: 2rem;
            }
            button {
              font-size: 1rem;
            }
          }
          .about {
            margin-top: 1.5rem;
            font-size: 1.05rem;
          }
        }
      }
      .products {
        margin-top: 5rem;
      }
    }
  }
}
