$primary-color: #ed2484;
$primary-color-hover: #da649d;
$secondary-color: #1d81de;
$secondary-color-hover: rgb(55, 182, 178);
$max-container-width: 1300px;
$padding-phone: 1rem;
$padding-tablet: 1rem;
$padding-laptop: 3rem;
$error_color: rgb(230, 52, 52);
